<!DOCTYPE html>
<html>
<body>

<h1>Working Key, Plain Text with encryption</h1>

<p><strong>workingKey</strong> = '4ACF0420A50EAB0310A9081C5B35B43C'</p>

<p><strong>plainText</strong> = 'merchant_id=189681&order_id=481&currency=INR&amount=442&redirect_url=http://frugivore.in/payment-gateway/successfull-payment/e39948c7-7d8b-410b-a928-7b3c37bfee74&cancel_url=http://frugivore.in/repeat-order/e39948c7-7d8b-410b-a928-7b3c37bfee74?release=True&language=EN&integration_type=iframe_normal&billing_name=Frugivore&billing_address=D-1, Panchwati, Adarsh Nagar, Delhi, 110033&billing_city=New Delhi&billing_state=New Delhi&billing_zip=110009&billing_country=India&billing_tel=9911737368&billing_email=raghav.malhotra447@gmail.com&customer_identifier=25&'</p>

<p><strong>Encrypted</strong> : {{enKey}}</p>


</body>
</html>