<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <title>Data Processing</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Data Processing</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
          <a id="addConnection" class="nav-item nav-link" href="#">Add Connection</a>
          <a class="nav-item nav-link" href="#">Processes</a>
        </div>
      </div>
    </nav>
    <br>

    <section id="upload">

      <form class="" method="post" action="/upload/" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" value="">
        <button type="submit" id="uploadFile"name="button">Upload</button>
      </form>

      {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
      {% endif %}

    </section>

    <form class="" method="post">

    </form>

    <section id="connection" style="display: none";>

      <div class="container">
        <button id="hide" type="button" class="btn btn-outline-secondary btn-sm ml-auto">Hide</button>

        <form class="" method="post">
          {% csrf_token %}

          {{ form.non_field_errors }}
          <div class="form-group">
            {{ form.database.errors }}
            <label for="{{ form.database.id_for_label }}">Database:</label>
            {{ form.database }}
          </div>
          <div class="form-group">
            {{ form.server.errors }}
            <label for="{{ form.server.id_for_label }}">Server:</label>
            {{ form.server }}
          </div>
          <div class="form-group">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
          </div>
          <div class="form-group showPassword">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            <div class="input-group">
              {{ form.password }}
              <div class="input-group-append">
                <div class="input-group-text"><a style="text-decoration: none; color: black;" href="#"><span class="passTxt">Show</span></a></div>
              </div>
            </div>
          </div>
          <button id="hide" type="submit" class="btn btn-secondary btn-lg ml-auto">Add</button>
        </form>

      </div>

    </section>


    <div class="bg-light">
      <p>Choose Database: </p>

      <div class="btn-group-vertical">
        {% for item in data %}

        <button class="btn btn-secondary" type="button" name="button">{{ item }}</button>

        {% endfor %}
      </div>

    </div>



    <div class="tableTest">

    </div>

  </div>

  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">

      <!-- Then put toasts within -->
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">Alert</strong>
          <small class="text-muted">just now</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          See? Just like this.
        </div>
      </div>

      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">Alert</strong>
          <small class="text-muted">2 seconds ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Heads up, toasts will stack automatically.
        </div>
      </div>
    </div>
  </div>



  {% block content %}

  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <script type="text/javascript">
    $(document).on('click', '.showPassword .passTxt', function() {

      $(this).text($(this).text() == "Show" ? "Hide" : "Show");
      $('#id_password').attr('type', function(index, attr) {
        return attr == 'password' ? 'text' : 'password';
      });
    });


    $('.toast').toast('show');

    $("#addConnection").click(function() {
      $('#connection').show();
    });

    $("#hide").click(function() {
      $('#connection').hide();
    });buttonon

    $("#uploadFile").click(function() {
      $.ajax({
          url: '/upload/',
        })
        .done(function(data) {
          console.log("file")
        })
        .fail(function() {
          console.log("error");
        })
    });
  </script>
</body>

</html>
